/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
public/drawing/Analysis Reports/1726399045_Attachment I.pdf
public/drawing/Analysis Reports/1726417629_Attachment III.pdf
public/drawing/Analysis Reports/1726417877_Attachment II.pdf
public/invoice/1726909137_Attachment I.pdf
public/invoice/1726915161_Attachment I.pdf
public/invoice/1726915757_Attachment II.pdf
public/invoice/1726916626_Attachment III.pdf
public/report/Analysis Reports/1726399045_Attachment II.pdf
public/report/Analysis Reports/1726422958_Attachment I.pdf
